body {
	font-family: arial;
	background: darkgrey;
}

.app-header {
	background:darkgrey;
	color: #fff;
	text-shadow: -1px -1px 0 #000,1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
	-webkit-font-smoothing: antialiased;
	}
.padded-app-header {
	position:absolute;
	top:0em;
}

#output {
	width:100%;
	top:200px;
	position:absolute;
}
.padded-output {
	margin-top:185px;
}

.context-menu-item {
	padding-top:5px;
	padding-bottom:5px;
}
.my-context-menu{
	width:150px !important;
	min-width:150px !important;
}
.my-context-menu li ul.context-menu-list
{
   width: 120px !important; 
   min-width: 120px !important;
}



.instructions {
	display:inline;
}

.misc-with-help:hover .misc-instructions{
	display:block;
}
.misc-instructions {
	display:none;
}

.ui-dialog .ui-dialog-buttonpane button {
	padding-top: 5px;
	padding-bottom: 5px;
}
.my-dialog {
	display:none;
}
#newRowDialog {
	text-align:center;
}