
#remotestorage-widget {
	top:-5px !important;
	right:0px !important;
}

.file-button {
	position:relative;
	height:32px;
	padding-left:8px;
	width:32px;
}

#unsaved-changes {
	position:relative;
}

#unsaved-changes .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; 	
}

.file-button .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 80px;
    top: 100%;
    left: 50%; 
    margin-left: -40px; 	
}

.file-button:hover .tooltiptext {
    visibility: visible;
}


#unsaved-changes:hover .tooltiptext {
    visibility: visible;
}

#taskboard-toolbar {
	background:darkgrey;
	width:100%;
	white-space:nowrap;
	height:8em;
}
.stuck-toolbar {
	position:fixed;
	margin-top:0em;
}
.moving-toolbar {
	position:relative;
	margin-top:3.5em;
}

.toolbar-button {
	margin:15px;
	margin-left: 30px;
}




.right-click-mode-indicator {
	display:none;
}

#left-buttons {
	text-align:left;
	position:absolute;
	left:0vw;
}

#left-middle-buttons {
	text-align:center;
	display:none;
	position:absolute;
	left: calc(44vw - 200px);
}
#right-middle-buttons {
	text-align:center;
	display:none;
	position:absolute;
	left: calc(63vw - 100px);
}
.middle-button {
	margin-left:10px;
	display:inline-block;
}
.shape-button {
	height:2em;
}

#right-buttons {
	left: calc(100vw - 360px);
	width: 350px;
	min-width: 350px;
	position:absolute;
	display:none;
}

.new-task-drag {
	white-space:normal;
	padding: 0.8em;
	padding-top:2em;
	text-align:center;
	margin-right:30px;
	float:right;
	width:100px;
	height:100px;
	background-color:LemonChiffon;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	position:relative;
	display:inline-block;
	margin: 0.8em;
	margin-top:0em;
	font-family: arial;
	cursor:pointer;
}

.finish-area {
	position:relative;	
	height:100px;
	width:200px;
	margin:10px;
	margin-right:15px;
	margin-top:0px;
	padding:10px;
	float:right;
	text-align:center;
	color:#FFFFFF;
}
.normal-finish {
	background:#000000;
}
.hover-finish {
	background:#444444;
	border: 2px solid white;
}