
#editDialog {padding:0px;}
#editDialog table {
	padding-left:0.3em;
	padding-right:0.3em;
}

#dialog-toolbar {
	position:absolute;
	left:8em;
	top:0.3em;
	display:none;
}
.dialog-toolbar-button {
	margin-top:0.2em;
	margin-bottom:0.2em;
	margin-left:0.8em;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:12px !important;
}

.sync-button {
	font-size:10px !important;
	padding:2px;
	padding-left:5px;
	padding-right:5px
}

.color-button {
	padding:5px;
	float:left;
}
.circle {
	border-radius: 50%;
	width: 1em;
	height: 1em; 
}

.interval-button {
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	height:1.8em;
	margin-top:0em;
}